services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    ports:
      - "8000:8000"
    volumes:
      - ./backend/audio/input:/app/audio/input:ro
      - ./backend/audio/output:/app/audio/output
      - ./backend/lambda_function.py:/app/lambda_function.py:ro
      - ./backend/main.py:/app/main.py:ro
    environment:
      PYTHONUNBUFFERED: 1
      AUDIO_INPUT_DIR: /app/audio/input
      AUDIO_OUTPUT_DIR: /app/audio/output
